* {
  box-sizing: border-box;
}

h3 {
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  display: flex;
  padding: 10px;
  background-color: #1e1e1e;
  font-size: 25px;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  width: 400px;
  justify-content: space-around;
  
}

.nav li {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  
}

.nav a {
  text-decoration: none;

}
